<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body bgcolor="#FCF3FF" style="font-size:20px; padding:50px;">
      <h1><a href="http://localhost:8080"><font face="Courier" color="#008B8B">Rankr™</font></a></h1>
      <hr color="#000000" size="3px"></hr>
  </body>
</html>
