<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>
  <body style="font-size:20px; padding:50px;">
    <h1><a href="http://localhost:8080"><font face="Lato" color="#5272B2">Rankr</font></a></h1>
    <hr color="#53A3B3" size="3px"></hr>
  </body>
</html>
