<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rankr</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/admin.js"></script>
  </head>

  <body>
    <header>
      <% include partials/_header %>
    </header>
    <h1>This is where you will view results/delete a poll</h1>
    <% Object.keys(results).forEach(option =>{ %>
      <h1><%=option%></h1>
      <div style= 'background-color: black; width:<%=results[option]%>%; height:10px'></div>
    <%});%>
  </body>
</html>
