<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/lists.css"/>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
    <script type="text/javascript" src="/scripts/sortable.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  </head>

  <body>
    <header>
      <% include partials/_header %>
    </header>

    <div class="form-group">
     <label for="exampleInputEmail1">Email address</label>
<<<<<<< HEAD
     <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
=======
     <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
>>>>>>> 8a48829720abca7be124797da004c616f0e293b9
     <small id="emailHelp" class="form-text text-muted">We'll send you a link to view the results of your poll.</small>
    </div>

    <div class="form-group">
      <label class="col-form-label" for="inputDefault">Add a topic for your poll</label>
      <input type="text" class="form-control" placeholder="Poll topic" id="inputDefault">
    </div>

    <div id="pollContainer">
    <div class="pollOption">
      <button class="btn btn-primary js-remove">Delete</button>
      foo
      </div>
    </div>

    <div class="form-group">
      <label class="col-form-label" for="inputDefault">Add an option to your poll:</label>
      <input id="addNewText" type="text" name="text" placeholder="Add a new poll option">
      <button class="btn btn-primary add">Add</button>
    </div>

    <button id="createNewPoll" class="btn btn-primary">Create my poll</button>

  </body>
</html>
