<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rankr</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/poll.js"></script> -->
  </head>

  <body>
    <header>
      <% include partials/_header %>
    </header>


    <h1><%=results[0].question_string%></h1>
    <ul>
    <% Object.keys(results).forEach(option => {%>
        <li><%=results[option].option_name%></li>
        <li><%=results[option].option_id%></li>
      <% })%>
</ul>


  </body>
</html>
    <!-- <div class="form-group">
     <label for="exampleInputEmail1">Email address</label>
     <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
     <small id="emailHelp" class="form-text text-muted">We'll send you a link to view the results of your poll.</small>
    </div>

    <div class="form-group">
      <label class="col-form-label" for="inputDefault">Add a topic for your poll</label>
      <input type="text" class="form-control" placeholder="Poll topic" id="inputDefault">
    </div>

    <div id="pollContainer">
    <div class="pollOption">
      <button class="btn btn-primary js-remove">Delete</button>
      foo
      </div>
    </div>

    <div class="form-group">
      <label class="col-form-label" for="inputDefault">Add an option to your poll:</label>
      <input id="addNewText" type="text" name="text" placeholder="Add a new poll option">
      <button class="btn btn-primary add">Add</button>
    </div>

    <button id="createNewPoll" class="btn btn-primary">Create my poll</button>
 -->
