<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rankr</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/poll.js"></script>
  </head>

  <body>
    <header>
      <% include partials/_header %>
    </header>


    <ul><h1>rankr :  <%=results[0].question_string%></h1>
    <% Object.keys(results).forEach(   option => {%>
        <li> <%=results[option].option_name%></li>
      <% })%>
</ul>


  </body>
</html>
