body {
  padding: 20px;
}

.pollOption {
  border: 1px black;
  border-style: solid;
  border-radius: 5px;
  cursor: move;
  cursor: -webkit-grabbing;
}

#pollContainer {
  padding: 5px;
  border: 1px black;
  border-style: solid;
  border-radius: 3px;
}

// .my-handle {
// 	cursor: move;
// 	cursor: -webkit-grabbing;
// }
